body {
  background-color: black;
}
.content{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
video {
  height: 80vh;
	margin-top: -5px;
}
#submit {
  margin-right: 30px;
  margin-left: 5px;
}
input[type="button"], h2, input[type="text"] {
  height: auto;
	padding-left: 15px;
	padding-right: 15px;
}
h2 {
	color: red;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}
